*.pyc
econciencia/_pycache_
econciencia/middlewares/_pycache_

econciencia/_pycache_/*
middlewares/_pycache_/*

users/_pycache_/*
users/migrations/*
users/migrations/_pycache_/*

posts/_pycache_/*
posts/migrations/*
posts/migrations/_pycache_/*

canecas/_pycache_/*
canecas/migrations/*
canecas/migrations/_pycache_/*


canecas/script_ia/_pycache_/*