
econciencia/__pycache__/*
middlewares/__pycache__/*

users/__pycache__/*
users/migrations


posts/__pycache__/*
posts/migrations/*


canecas/__pycache__/*
canecas/migrations/*
canecas/script_ia/__pycache__/*