{% extends 'base.html' %}
{% block body%}
    {%load static%}
    <div class="d-flex justify-content-center align-items-center mt-5">
        
        <form class="w-100 contenedor_datos_personales"action="{% url 'users:actualizar_perfil' %}" method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div class="row w-50 " >
                <div class="col-md-3 d-flex align-items-center items_actualizar_derecha">
                    
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% if profile.profile_picture %}
                                <label for="profile_picture">
                                    <figure>
                                        <img class="update_image" src="{{ profile.profile_picture.url }}" alt="user_image">
                                        <div class="capa d-flex justify-content-center align-items-center">
                                            <svg class="" width="50" height="50" fill="white">
                                                <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#camera-fill"/>
                                            </svg>
                                        </div>
                                    </figure>
                                </label>
                            {% else %}
                                <label for="profile_picture">
                                    <figure>
                                        <img class="update_image" src="{% static '/images/users/default_user.jpg' %}" alt="user_image">
                                        <div class="capa d-flex justify-content-center align-items-center">
                                            <svg class="" width="50" height="50" fill="white">
                                                <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#camera-fill"/>
                                            </svg>
                                        </div>
                                    </figure>
                                </label>
                                
                            {% endif%}
                            <input type="file" class="form-control custom_file" id="profile_picture" name="profile_picture" hidden/>
                            <!--camera-fill-->
                        </div>
                        
                        <div>
                            <p><strong> @{{user.username}} | {{user.get_full_name}} </strong></p> 
                        </div>
                        
                    </div>

                    {% if bandera == 0 %}
                    <div class="">
                        <label for="person_type_form" class="form-label m-0"><strong> Tipo de persona </strong></label>
                        <select class="form-select" name="person_type" id="person_type" aria-describedby="help_person_type">
                            <option value="0">Seleccione</option>
                            <option value="1"> Natural</option>
                            <option value="2"> Jurídica</option>
                        </select>
                        
                    </div>
                    <div class="">
                        <label for="dni" class="form-label m-0"><strong> Número de documento </strong></label>
                        <input type="text" class="form-control" id="dni" name="dni" placeholder="Número de documento / Nit" value="{{profile.dni}}"/>
                    </div>
                    {% else %}
                    <div class="text-center m-0">
                        {% if profile.person_type == 1 %}
                            <p>Persona Natural</p>
                        {% else %}
                            <p>Jurídica</p>
                        {% endif %}
                    </div>
                    <div class="text-center m-0">
                        <p>{{profile.dni}}</p>
                    </div>
                    {% endif%}
                    
                    
                </div>
                <div class="col-md-9 d-flex align-items-center items_actualizar_derecha">
                        <div class="">
                            <label for="company_name"><strong> Nombre de la compañía</strong></label>
                            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Nombre de la empresa" value="{{profile.company_name}}"/>
                            <div id="company_name_form" class="form-text ayudas_form m-0">Si no tienes nombre de empresa por favor coloca tu nombre</div>
                        </div>
                        
                        <div class="">
                            <label for="direction"><strong> Dirección </strong></label>
                            <input type="text" class="form-control" id="direction" name="direction" placeholder="Dirección" value="{{profile.direction}}"/>
                        </div>
        
                        <div class="">
                            <label for="phone_number"><strong> Numero de celular </strong></label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Teléfono" value="{{profile.phone_number}}"/>
                        </div>
                        
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn btn-primary w-100">Guardar </button>
                </div>
                
                
            </div>
        </form>
    </div>
    {% if profile.is_collector == 1%}
    <div class="d-flex justify-content-center align-items-center mt-5">
        <form class="w-50" action="{% url 'users:formulario_recolectores' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="description"><strong> Describe tu compañía </strong></label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10">

                    </textarea>
                </div>
            </div>
            <!--Plastico-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="plastic"><strong>¿ Reciclas plastico ?</strong></label>
                    <select class="form-control" name="plastic" id="plastic">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="plastic">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="plastic_price" id="plastic_price">

                </div>
            </div>
            <!--Carton-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="cardboard"><strong>¿ Reciclas cartón ?</strong></label>
                    <select class="form-control" name="cardboard" id="cardboard">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="cardboard_price">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="cardboard_price" id="cardboard_price">

                </div>
            </div>
            <!--Papel-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="paper"><strong>¿ Reciclas papel ?</strong></label>
                    <select class="form-control" name="paper" id="paper">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="paper_price">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="paper_price" id="paper_price">

                </div>
            </div>
            
            <!--Vidrio-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="glass"><strong>¿ Reciclas Vidrio ?</strong></label>
                    <select class="form-control" name="glass" id="glass">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="glass_price">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="glass_price" id="glass_price">

                </div>
            </div>

            <!--Basura-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="trash"><strong>¿ Reciclas Basura ?</strong></label>
                    <select class="form-control" name="trash" id="trash">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="trash_price">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="trash_price" id="trash_price">

                </div>
            </div>

            <!--Metal-->
            <div class="row mb-3">
                <div class="col-md-12">
                    
                    <label for="metal"><strong>¿ Reciclas metal ?</strong></label>
                    <select class="form-control" name="metal" id="metal">
                        <option value=2>Seleccione</option>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                    </select>
                    <label for="metal_price">¿ A que precio ?</label>
                    <input class="form-control" type="number" name="metal_price" id="metal_price">

                </div>
            </div>
            <div class="row mt-5">
                <button type="submit" class="btn btn-primary w-100">Guardar </button>
            </div>
            
            
        </form>
    </div>
    {% endif %}

{% endblock %}
{% block stylesheets %}
{{block.super}}
    <style>
        .update_image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        .contenedor_datos_personales{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .items_actualizar_derecha{
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
        .items_actualizar_derecha div{

            width: 100%;
        }

        figure{
            position: relative;
        }

        figure .capa{
            position: absolute;
            top: 0;
            background-color: rgba(0,0,0,0.5);
            height: 100%;
            width: 100%;
            border-radius: 50%;
            transition: all 300ms ease-out;
            opacity: 0;
            visibility: hidden;
        }
        figure:hover > .capa{
            cursor: pointer;
            opacity: 1;
            visibility: visible;
        }
        
    </style>
{% endblock %}
{% block javascripts %}
 {{block.super}}
    {% if form.errors  or form_advance.errors %}
    {{ form.errors|json_script:"errores" }}
    {{ form_advance.errors|json_script:"errores_recolector" }}
        <script>
            var errores = JSON.parse(document.getElementById('errores').textContent);
            var errores_recolector = JSON.parse(document.getElementById('errores_recolector').textContent);
            var consolidado = "";
            for (const error in errores) {
                
                consolidado += `${error}:\n\t ${errores[error]}\n`;
            }
            for (const error in errores_recolector) {
                
                consolidado += `${error}:\n\t ${errores_recolector[error]}\n`;
            }
            send_notification( 'error','Error',consolidado,'3000')
    </script>
    {% endif %}
{% endblock %}