
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Econciencia {% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/svg+xml" href="{% static 'css/icons/favicon.svg' %}">
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet"> 
    
    <!-- links estilos de notificaciones -->
    <link href="{% static '/js/node_modules/@pnotify/core/dist/PNotify.css' %}" rel="stylesheet"> 
    <link href="{% static '/js/node_modules/@pnotify/core/dist/BrightTheme.css' %}" rel="stylesheet"> 
    <link href="{% static '/js/node_modules/@pnotify/bootstrap4/dist/PNotifyBootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"> 

    
</head>

<body>
    
    <div class="container-fluid">
        {% if messages %}
        {%for message in messages %}
            <script>
                send_notification(type,tittle,text,delay)
            </script>
        {%endfor%}
        {%endif%}
        
    </div>
    

        <div class="bg-light">
            <nav class="navbar navbar-expand-md navbar-light bg-light border-1 border-bottom shadow p-3">
                
                <div class="container-fluid">
                    <div>
                        <a href="{% url 'home' %}" class="navbar-brand"> 
                            <img src="{% static 'images/logo.png'%}" class="navbar-logo" >
                        </a>
                        <a href="{% url 'home' %}" class="navbar-brand"> 
                            <img src="{% static 'images/type_logo.png'%}" class="navbar-type" >
                        </a>
                    </div>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div id="MenuNavegacion" class="navbar-collapse collapse" >
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recicla</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Opciones de soporte
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'latest_posts'%}">Base de conocimientos</a></li>
                                <li><a class="dropdown-item" href="#">Contacta con nosotros</a></li>
                            </ul>
                        </li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item ml-3">
                                <button class="btn btn-success   btn-sm text-nowrap boton_inicio" onclick="window.location.href='{% url 'login' %}'">
                                    Iniciar sesión
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-primary   btn-sm text-nowrap boton_inicio" onclick="window.location.href='{% url 'singup' %}'">
                                    Registrarse
                                </button>
                            </li>
                    
                        {% else %}
                            <li class="nav-item">
                                <a href="#">
                                    <svg class="bi login__icon" width="32" height="32" fill="currentColor">
                                        <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#person-circle"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <li><a class="nav-link" href="{% url 'home'%}">@{{request.user.username}}</a></li>
                            </li>
                        {% endif %}
                    </ul>

                    
                </div>
            </nav>

            
        
        </div>


    
    {%block body%}
            
            
    {% endblock %}
    

    {% block stylesheets %}

    <style>
        .navbar-type{
            display: inline-block;
            vertical-align: middle;
            max-width: 300px;
            
        }
        .navbar-logo{
            display: inline-block;
            vertical-align: middle;
            width: 56px;
        }
        .boton_inicio{
            max-width: 300px;
            width: 125px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        @media screen and (max-width: 1024px) {
            .navbar-type {
                display: inline-block;
                vertical-align: middle;
                width: 200px;
            }
            .boton_inicio{
                max-width: 100px;
                width: 100px;
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        
    </style>

    {% endblock %}


    {% block javascripts %}
    <script src="{% static '/js/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
    
    <script src="{% static '/js/node_modules/@pnotify/core/dist/PNotify.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/node_modules/@pnotify/bootstrap4/dist/PNotifyBootstrap4.js' %}" type="text/javascript"></script>
    <script type="module">  
        PNotify.defaultModules.set(PNotifyBootstrap4, {});
        PNotify.defaults.icons = 'bootstrap4';
        function send_notification(type,tittle,text,delay){
            PNotify.alert({
                type: type,
                title: tittle,
                text: text,
                delay: delay
            });
        }
        
        
          
        PNotify.alert({
            type: 'success',
            title: 'Font Awesome Icon',
            text: 'I have an icon that uses the Font Awesome icon styles.',
            delay: 3000
        });
        </script>
    
    {% endblock %}
    
</body>
</html>



