
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Econciencia {% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/svg+xml" href="{% static 'css/icons/favicon.svg' %}">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">  
</head>

<body>
    
    <div class="container-fluid">
        {% if messages%}
        {%for message in messages %}
            <div class="alert alert-{{message.tags}}">
                ! {{message}} !
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {%endfor%}
        {%endif%}
        
    </div>
    

        <div class="bg-light">
            <nav class="navbar navbar-expand-md navbar-light bg-light border-1 border-bottom shadow p-3">
                
                <div class="container-fluid">
                    <a href="{% url 'inicio' %}" class="navbar-brand"> Econciencia </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div id="MenuNavegacion" class="navbar-collapse collapse" >
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recicla</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Opciones de soporte
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'latest_posts'%}">Base de conocimientos</a></li>
                                <li><a class="dropdown-item" href="#">Contacta con nosotros</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-3 pt-1">
                        <li class="nav-item">
                            <button class="btn btn-success   btn-sm text-nowrap" style="max-width: 300px;width: 125px;" onclick="window.location.href='{% url 'login' %}'">
                                Iniciar sesión
                            </button>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ms-3 pt-1">
                        <li class="nav-item">
                            <button class="btn btn-primary   btn-sm text-nowrap" style="max-width: 300px;width: 125px;" onclick="window.location.href='{% url 'singup' %}'">
                                Registrarse
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            
        
        </div>


    
    {%block body%}
            
            
    {% endblock %}
    

    {% block stylesheets %}



    {% endblock %}


    {% block javascripts %}


    {% endblock %}
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>



