
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Econciencia {% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/svg+xml" href="{% static 'css/icons/favicon.svg' %}">
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet"> 
    
    <!-- links estilos de notificaciones -->
    <link href="{% static '/js/node_modules/@pnotify/core/dist/PNotify.css' %}" rel="stylesheet"> 
    <link href="{% static '/js/node_modules/@pnotify/core/dist/BrightTheme.css' %}" rel="stylesheet"> 
    <link href="{% static '/js/node_modules/@pnotify/bootstrap4/dist/PNotifyBootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"> 
    {% block scripts_header %}
        
    {% endblock scripts_header %}
    
</head>

<body>
    <header>
        <div class="bg-light">
            <nav class="navbar navbar-expand-md gradient_nav navbar-light border-1 border-bottom shadow p-3">
                
                <div class="container-fluid">
                    <div>
                        <a href="{% url 'home' %}" class="navbar-brand"> 
                            <img src="{% static 'images/logo.png'%}" class="navbar-logo" >
                        </a>
                        <a href="{% url 'home' %}" class="navbar-brand"> 
                            <img src="{% static 'images/type_logo.png'%}" class="navbar-type">
                        </a>
                    </div>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div id="MenuNavegacion" class="navbar-collapse collapse" >
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts:latest_posts'%}">Recicla</a>
                        </li>

                        
                        {% if not user.is_authenticated %}
                            <li class="nav-item ml-3">
                                <button class="btn btn-success   btn-sm text-nowrap boton_inicio" onclick="window.location.href='{% url 'users:login' %}'">
                                    Iniciar sesión
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-primary   btn-sm text-nowrap boton_inicio" onclick="window.location.href='{% url 'users:singup' %}'">
                                    Registrarse 
                                </button>
                            </li>
                    
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'canecas:consultas'%}">Caneca</a>
                            </li>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg class="bi login__icon" width="22" height="22" fill="currentColor">
                                        <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#bell-fill"/>
                                    </svg>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'canecas:consultas'%}">
                                           <div class="container row notifications">
                                            <div class="col-md-2">
                                                <svg class="bi login__icon" width="50" height="50" fill="currentColor">
                                                    <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#person-circle"/>
                                                </svg>
                                            </div>
                                            <div class="col">
                                                <p>Hay una persona cerca con n kg de cocaina pura y dura mamabicho</p>
                                                <p class="tiempo_notificaciones">hace una semana</p>
                                            </div>
                                            
                                           </div>
                                            
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" href="{% url 'canecas:consultas'%}">
                                           <div class="container row notifications">
                                            <div class="col-md-2">
                                                <svg class="bi login__icon" width="50" height="50" fill="currentColor">
                                                    <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#person-circle"/>
                                                </svg>
                                            </div>
                                            <div class="col">
                                                Hola mundo
                                                <p class="tiempo_notificaciones">hace una semana</p>
                                            </div>
                                            
                                           </div>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <div class="container ver_todas">
                                            <a href=""> Ver todas... </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if user.profile_picture == '' or user.profile_picture == null %}
                                        <svg class="bi login__icon" width="28" height="28" fill="currentColor">
                                            <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#person-circle"/>
                                        </svg>
                                    {% else %}
                                        <img class="profile_img" src="{{ profile.profile_picture.url }}" alt="user_image" width="28" height="28">
                                    {% endif %}
                                    
                                     {{user.username}}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'posts:latest_posts'%}">¿Como reciclar?</a></li>
                                    <li><a class="dropdown-item" href="{% url 'users:actualizar_perfil'%}">
                                        Configuración
                                        <svg class="bi login__icon" width="16" height="16" fill="currentColor">
                                            <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#gear"/>
                                        </svg>
                                    </a></li>
                                    <li><a class="dropdown-item" href="{% url 'users:logout'%}">
                                        Cerrar sesión
                                        <svg class="bi login__icon" width="16" height="16" fill="currentColor">
                                            <use xlink:href="{% static 'css/bootstrap-icons/bootstrap-icons.svg'%}#box-arrow-in-right"/>
                                        </svg>
                                    </a></li>
                                    
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        {%block body%}
                
                
        {% endblock %}
    </main>

    <footer>

    </footer>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    {% endblock%}


    {% block javascripts %}
        <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static '/js/node_modules/@pnotify/core/dist/PNotify.js' %}" type="text/javascript"></script>
        <script src="{% static '/js/node_modules/@pnotify/bootstrap4/dist/PNotifyBootstrap4.js' %}" type="text/javascript"></script>
        <script src="{% static '/js/node_modules/@pnotify/glyphicon/dist/PNotifyGlyphicon.js' %}" type="text/javascript"></script>
        <script>  
            function send_notification(type,tittle,text,delay){
                PNotify.defaultModules.set(PNotifyBootstrap4, {});
                PNotify.defaultModules.set(PNotifyGlyphicon, {});
                PNotify.alert({
                    type: type,
                    title: tittle,
                    text: text,
                    delay: delay
                });
            }
        </script>    
        {% if error %}
            <script>
                send_notification( '{{error.tipo}}','{{error.titulo}}','{{error.texto}}','{{error.tiempo}}')
            </script>
        {% endif %}
    {% endblock %}
    
</body>
</html>



