{% extends "base.html" %}
{%block title%} {{ block.super }} - Registro {% endblock %}

{% block body%}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registrarse</h3>
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{form.as_p}}
        
                <button type="submit" id="submit">Registrarse</button>
            </form>
        </div>
        <div class="card-footer">
            <p>Copyrigth  by Millerxd14</p>
        </div>
    </div>
</div>


{% endblock%}

{% block stylesheets %}
{{ block.super }}
{% endblock %}

{% block javascripts %}

{{ block.super }}
{% endblock %}