body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-type{
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
}
.boton_inicio{
    max-width: 300px;
    width: 125px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-primary{
    background-color: #FF641F;
    border-color:#FF641F ;
}
.btn{
    font-size: medium;
    color: white;
}

.btn-primary:hover{
    background-color: #FF8B57;
    border-color:#FF8B57
}



ul,ol{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 100px;
}

@media screen and (max-width: 890px) {
    .navbar-type {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
    }
    .boton_inicio{
        max-width: 100px;
        width: 100px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #letras_logo{
        width: 45%;
        visibility: visible;
    }
    #logo{
        width: 45px;
        height: 45px;
    }
}
@media screen and (min-width: 1024px) {
    /* .navbar-type {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
    } */
    .boton_inicio{
        max-width: 100px;
        width: 100px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 500px) {
    /* .navbar-type {
        display: inline-block;
        vertical-align: middle;
        width: 150px;
    } */
    .boton_inicio{
        max-width: 100px;
        width: 100px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #letras_logo{
        visibility: hidden;
        width: 0px;
    }
}
.gradient_nav{
    background: rgb(203,232,255);
    background: linear-gradient(5deg, rgba(203,232,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%, rgba(203,232,255,1) 100%);   
}
.profile_img{
    border-radius:100%;
}
.notifications{
    width: 450px;
    max-width: 450px;
    white-space: initial;
    display: flex;
    align-items: center;
}
.ver_todas{
    text-align: right;
}
.tiempo_notificaciones{
    font-style: italic;
    font-size: medium;
}

.dropdown_notificaciones{
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color:  #888 #f1f1f1;
}

.dropdown_notificaciones::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.dropdown_notificaciones::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.dropdown_notificaciones::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.dropdown_notificaciones::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.notificacion_punto{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF641F;
    border-radius: 50%;
    top: 15px;
    right: 8px;
    visibility: hidden;
}


.pnotify-closer::after{
    font-family: "bootstrap-icons";
    content: "\F623";
    color: white;
}