{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="mt-5 d-flex justify-content-center row completo">
    <div class=" col-md-6  caneca text-center" >
        <div class="circulo">
            <div class="circuloInterno">
                <div class="sombra">
                </div>
            </div>
        </div>
        <div class="rectangulo">
        </div>
        <div class="cuadrado">
            <div class="cuadradoInterno text-left">
                <h3>
                    <p>{{caneca.name}}</p>
                    <p>{{caneca.description}}</p>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center estadisticas">
        <div class=" mb-5 p-2 align-self-center estado">
            <div class="triangulo"></div>
            <div class="triangulo1"></div>
        </div>
        <figure class="mb-5 p-2 align-self-center highcharts-figure">
            <div id="container"></div>
        </figure>
    </div>
</div>    
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/caneca.css'%}">

{% endblock%}

{% block javascripts %}
    {{block.super}}
    {% if form.errors %}
        {{ form.errors|json_script:"errores" }}
        <script>
            var errores = JSON.parse(document.getElementById('errores').textContent);
            var consolidado = "";
            for (const error in errores) {
                consolidado += `${error}:\n\t ${errores[error]}\n`;
            }
            send_notification( 'error','Error',consolidado,'3000')
            
        </script>
    {% endif %}
    <script>
        _values = {{data|safe}};
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'js/caneca.js'%}"></script>
{% endblock%}