{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="mt-5 d-flex justify-content-center row completo">
    <div class=" col-md-6  caneca text-center" >
        <div class="circulo">
            <div class="circuloInterno">
                <div class="sombra">
                </div>
            </div>
        </div>
        <div class="rectangulo">
        </div>
        <div class="cuadrado">
            <div class="cuadradoInterno">
                <center><h3>No Hay <br>
                    EXCUSAS<br>
                    Aprendamos <br>
                    a <br>
                    Reciclar </h3></center>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center estadisticas">
        <button type="button" class="mb-5 align-self-center botonmodal" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar Caneca
        </button>
        <div class=" mb-5 p-2 align-self-center estado">
            <div class="triangulo"></div>
            <div class="triangulo1"></div>
        </div>
        <figure class="mb-5 p-2 align-self-center highcharts-figure">
            <div id="container"></div>
        </figure>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class=" modal-header">
                    <h5 class="col-md-10 text-center modal-title " id="exampleModalLabel">Agrega tu Caneca</h5>
                    <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Usuario:</label>
                            {{ request.user.username}}
                        </div>
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre caneca">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Descripción:</label>
                            <input type="text" class="form-control" name="description" id="description" placeholder="Descripción caneca">
                        </div>
                        <div class="mb-3">
                            <label for="mac" class="col-form-label">MAC:</label>
                            <input type="text" class="form-control" id="mac" placeholder="Mac de la caneca">
                        </div>
                        <div class="mb-3">
                            <label for="codigo" class="col-form-label">Código:</label>
                            <input type="text" class="form-control" id="codigo" placeholder="Lo encontrarás en la caneca">
                        </div>
                        <div class="mb-3">
                            <label for="ubicacion" class="col-form-label">Ubicación:</label>
                            <input type="text" class="form-control" id="ubicacion" placeholder="Dirección Caneca">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/caneca.css'%}">

{% endblock%}

{% block javascripts %}
    {{block.super}}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'js/caneca.js'%}"></script>
{% endblock%}